body {
	background-color: white;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width:100%;
}

div button {
	 background-color: #063970;
	 border: none;
	 color: white;
	 font-size: 10px; 
	 font-weight: 600;
	 padding-top: 17px;
}

.main {
	background-color: white;
	display: flex;
	width: 100%;
	height: 100%;
}

.div1 {
	margin: 20;
	background-color: none;
	border-color: solid black;
}
.div1 > p {
	font-size: 13px;
	margin: 20 20 10 20;
}
.div1 > input {
	font-size: 11px;
	margin-left: 20;
	font-weight: 300;
	width: 170px;

}
.div2 {
	background-color: none;
	border-color: solid black;
	width:45%;
	margin-left: 10px;
	margin-top: 10px;
}
.phead {
	color:blue;
	font-size:17px;
}
.div2 > img {
	width:100%;
	height: 30%;
}
.ptext {
	font-size:10px;
}
.div3 {
	margin-top: 20px;
	margin-left: 20px;
}
.div3 tr:first-child {
	border: 1px white;
	font-size: 10px;
	background-color: black;
	color: white;
	padding:2px 1px 2px 1px;
}
.div3 > th {
		font-weight: bold;
		background: green;
		color: white;
}

tr:nth-child(2) {
	background-color: darkgreen;
	font-size: 10px;

}
tr:nth-child(n+3) {
	background-color: lightgreen;
	font-size: 10px;
}
tr:nth-child(n+6) {
	background-color: grey;
	font-size: 10px;
}
tr:nth-child(n+17){
	background-color: pink;
	font-size: 10px;
}
td:nth-child(2){
	padding-left: 5px;
	padding-right: 15px
}
	




























